{# Create a table to represent the monthly calendar with the td's being the day and th being the names of the days #}
<div class='calendar-week'>
    <table class='calendar-week-layout'>
        <tr class='calendar-days-header'>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        {# MULTIDAY EVENT LOOP #}
        {# This creates an empty div that stretches a whole week between the bottom of the date number and the bottom of the day cell #}
        {% set offsetArray = [] %}
        <tr><td colspan='7' class='calendar-multiday-bar'>
            <div class='calendar-multiday-event-container'>
                {% set maxLine = -1 %}
                {# MULTIDAY #}
                {% for event in events if event.startDate.format('Y-m-d') <= end|date('Y-m-d') and event.endDate.format('Y-m-d') >= start|date('Y-m-d') and event.isMultiDay %}
                    {% if event.startDate.format('Y-m-d') <= start|date('Y-m-d') %}
                        {% set sOffset = 0 %}
                    {% else %}
                        {% set sOffset = event.startDate.diff(start).days %}
                    {% endif %}
                    {% if event.endDate.format('Y-m-d') >= end|date('Y-m-d') %}
                        {% set eOffset = 6 %}
                    {% else %}
                        {% set eOffset = event.endDate.diff(start).days  %}
                    {% endif %}
                    {# Now, look through the offsetArray for the firt 'line' in which this event can be placed #}
                    {% set currentLine = 0 %}
                    {% set break = false %}
                    {% for line in offsetArray|keys %}
                        {% if break != true %}
                            {% if sOffset >= offsetArray[line] %}
                                {% set break = true %}
                            {% else %}
                                {% set currentLine = currentLine + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% set offsetArray = offsetArray|merge({(currentLine): eOffset}) %}
                    {% if currentLine > maxLine %}{% set maxLine = currentLine %}{% endif %}
                    <div class='calendar-multiday-event-week' style='top: {{ currentLine * 1.6 }}em; left: {{ sOffset * 14.3 }}%; width: {{ (eOffset - sOffset + 1) * 14.3 }}%;'>
                        {{ event.event|raw }}
                    </div>
                {% endfor %}
                {# END MULTIDAY EVENT LOOP #}
                <div class='calendar-multiday-info' style='display: none;'>{{ maxLine + 1 }}</div>
            </div>
        </td></tr>
        <tr class='calendar-month-days'>
            {# START DAY LOOP #}
            {% for d in range(0, 6) %}
                {# If the day is today, then give it speical theming #}
                {% if start|date_modify(['+', d, ' day']|join)|date('Y-m-d') == 'now'|date('Y-m-d') %}
                    <td class='calendar-today-week' <td class='calendar-day-single' id='calendar-day-{{ start|date_modify(['+', d, ' day']|join)|date('Y-m-d') }}'>
                {% else %}
                    <td class='calendar-day-week' id='calendar-day-{{ start|date_modify(['+', d, ' day']|join)|date('Y-m-d') }}'>
                {% endif %}
                    <div class='calendar-day-items' id='calendar-day-items-{{ start|date_modify(['+', d, ' day']|join)|date('Y-m-d') }}' style='width: 100%; height: 100%' onClick="$('.calendar-widget').trigger('calendar-day-click', ['{{ start|date_modify(['+', d, ' day']|join)|date('Y-m-d') }}']);">
                        <div class='calendar-day-date'>{{ start|date_modify(['+', d, ' day']|join)|date('j') }}</div>
                        {# SINGLE DAY EVENT LOOP #}
                        <div class='calendar-single-event-container'>
                            {% for event in events if not event.isMultiDay and event.startDate.format('Y-m-d') == start|date_modify(['+', d, ' day']|join)|date('Y-m-d')%}
                                <div class='calendar-single-event'>
                                    {{ event.event|raw }}
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                </td>
            {% endfor %}
            {# END DAY LOOP #}
        </tr>
    </table>
</div>
<script type='text/javascript'>
    $('.calendar-widget').trigger('calendar-change')
</script>